
<div class="row">
  <div class="col-md-10 col-md-offset-1">

<div class="row">
  <div class="col-md-5">

      <div class="thumbnail">
<%= image_tag @listing.image.url(:medium) %>
    </div>
    </div>
  <div class="col-md-5">
    <h3>
        <%= @listing.name %>
      </h3>
      <p>
        
         <%= number_to_currency(@listing.price) %>
      </p>
      <p><h5>
  <%= @listing.description %>
   </h5>
   </p>
  <br>
     <div class="center">
      <%= link_to "Buy it now", new_listing_order_path(@listing), class: "btn btn-primary", data: { no_turbolink: true  } %>
    </div>
  
  
  
  <br>
  <% if current_user == @listing.user %>
<%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %> | 
<% end %>
<%= link_to 'Back', listings_path, class: "btn btn-link" %>
     
    </div>
    


</div></div>

</div></div>
